/*Importamos el tipo de letra a usar*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

/*Se reinicia los valores del html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*Las reglas del tipo de letra que usamos*/
body{
    font-family: 'Roboto', sans-serif;
    display: flex; /*ayuda a centrar*/
    min-height: 100vh;
    z-index: -1;
}

/*ayuda a ccentrar el formulario gracias al flexbox de arriba*/
/*recuadro del formulario*/
.form{
    z-index: 1;
    background-color: #fff;
    margin: auto; /*centra el recuadro*/
    width: 85%; /*que el 60% de la imagen no sea mayor a 400px*/
    max-width: 500px; /*ayuda a adaptar a dispositivos moviles*/
    padding: 30px 25px; /*tamaño del recuadro*/
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%); /*0 en x, 5px en Y, un blur de 10px y un sprit de -5px,color negro y 30% de transparencia*/
    text-align: center; /*centra el texto*/
}

/*Titulo Dubai...*/
.form_title{
    color: #212121;
    font-size: 25px;
    margin-bottom: 10px;
}

/*contenedor de los input*/
.form_container{
    padding:5px;
    margin-top: 5px;
    display: grid; /*organiza en rejilla*/
    gap: 2em /*espacio*/
}

.form_group{
    border:1px solid black;
    position: relative; /*usar fixed para acomodar a un lado*/
    --color:#0f0f0f7e; /*se crea como variable y se repite*/
    padding:10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
}

.form_input{
    width:100%; /*tamaño de la linea*/
    background: none; /*sin fondo*/
    color: #0e0d0d; /*color de la linea*/
    font-size: 1rem; /*tamaño de la letra*/
    padding: .6em .3em; /*espacio entre letra y linea*/
    border: none; /*Quita el cuadro de input*/
    outline: none; /*Quita el cuadro de input*/
    border-bottom: 1px solid var(--color); /*Coloca la linea de esccribir*/
    font-family: 'Roboto', sans-serif;
}

/*la letra dentro del recuadro*/
.form_label{
    color: #0e0d0d;
    cursor: pointer;
    position: absolute;
    top: o;
    left: 5px;
    transform: translateY(2px); /*baja texto nombre*/
    transition: transform .5s, color .3s;
}

/*Caracteristicas del boton*/
.form_submit{
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor:pointer;
	text-align: center;
    width: 43%;
}

