/*Importamos el tipo de letra a usar*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

/*Se reinicia los valores del html*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

/*Las reglas del tipo de letra que usamos*/
body{
    font-family: 'Roboto', sans-serif;
    /* background-position:center; */

    display: flex; /*ayuda a centrar*/
    min-height: 100vh;
    z-index: -1;
}

.form{
    z-index: 1;
    background-color: #fff;
    margin: auto; /*centra el recuadro*/
    width: 85%; /*que el 60% de la imagen no sea mayor a 400px*/
    max-width: 700px; /*ayuda a adaptar a dispositivos moviles*/
    padding: 15px 10px; /*tamaño del recuadro*/
    box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%); /*0 en x, 5px en Y, un blur de 10px y un sprit de -5px,color negro y 30% de transparencia*/
    text-align: center; /*centra el texto*/
}

.form_title{
    color: #212121;
    font-size: 25px;
    margin-bottom: 10px;
}

.form_container{
    border: 0;
    padding: px;
    margin-top: 10px;
    padding-right: 15px;
    display:block; 
    gap: 2.5em 
}

.form_group{
    /*position: relative; /*usar fixed para acomodar a un lado*/
    --color:#5757577e; /*se crea como variable y se repite*/
}

.form_input{
    width:100%; /*tamaño de la linea*/
    background: none; /*sin fondo*/
    color: #706c6c; /*color de la linea*/
    font-size: 1rem; /*tamaño de la letra*/
    padding: .4em .2em; /*espacio entre letra y linea*/
    border: none; /*Quita el cuadro de input*/
    outline: none; /*Quita el cuadro de input*/
    border-bottom: 1px solid var(--color); /*Coloca la linea de esccribir*/
    font-family: 'Roboto', sans-serif;
}

/*la letra dentro del recuadreo*/
.form_label{
    color: #0f0f0f;
    cursor: pointer;
    top: o;
    left: 5px;
    transform: translateY(10px); /*baja texto nombre*/
    transition: transform .5s, color .3s;
}

/*Caracteristicas del boton*/
.form_submit{
    margin: 12px;
    width: 120px;
    height: 50px;
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 1rem;
    /* padding: 10px 0; */
    border: none;
    border-radius: 10px;
    cursor:pointer;	
}
