<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habitación 103</title>
    <!-- <link rel="stylesheet" href="hab101.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/habs.css')}}">
</head>

<body> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<tbody>
	<tr>
        <td width="50%" align="center"><img src="../static/img/hab_doble.jpg"
			   alt="Es hora de viajar"
			   width="650px" height="550px" />
        </td>

        <td width="50%">
            <!-- <form action="/action_page.php" class="form"> -->
            <form action="" class="form" name="103" method="POST">
                <h2 class="form_title">Dubai Hotel and Residences</h2>

                <div class="form_container">
                    <!-- <h3> Habitación 103 </h3> -->
                    <h3> Habitación 103 </h3>
                    <!-- <br> <input type=»text» name="hab" id="hab" readonly style="visibility:hidden;" value="103"  readonly=»readonly» /> -->
                    <div class="form_group">
                        <h4 style="text-align: left;"> Descripción: </h4>
                        <p style="text-align: justify;">
                            Esta hermosa habitación es tipo suite. Un alojamiento de lujo a buen precio, en las que
                            tendrá todo tipo de servicios a su alcance. Sus espacios (23 m²) son modernos, con mobiliario 
                            elegante y confortable. Disfrute de una habitación con Wifi Easy Connection y perfectamente 
                            adaptada a todas sus necesidades. Reserve ahora, al mejor precio.
                        </p>
                        <br>
                    
                        <h4 style="text-align: left;"> Características: </h4>
                        <p>
                           <ul style="text-align: left;">
                                <li>Wifi: sí.</li>
                                <li>Cama Doble: sí.</li>
                                <li>Ducha Independiente: sí.</li>
                                <li>Piso Térmico: sí.</li>
                                <li>Jacuzzi: sí.</li>                          
                            </ul>
                        </p>
                        <br>
                        <div class="form_container">         
                            
                            <!-- Colocar condicional para activar cuando la sesion este iniciada, y sino, enviar a pagina de login -->
                            <!-- <a href="/reservar/crear"><input id="boton" class="form_submit" value="Reservar"></a> -->
                            <a href="/login"><input id="boton1" class="form_submit" value="Reservar"></a>
                            <!-- type="submit"-->
                            <a href="/reservar/comentarios/listar"><input id="boton" class="form_submit" value="Comentarios"></a>

                            <!-- <script>
                                if (login.login == 1){
                                    document.boton1 = "/reservar/crear"
                                }
                            </script> -->

                        </div>
                        <!-- <a href="/"><input type="submit" id="boton" class="form_submit" value="Continuar"></a>  -->
                    </div>
                </div>
            </form>
		</td>
    </tr>
    </tbody>
</table>
</body>
</html>