<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Habitacion</title>
    <!-- <link rel="stylesheet" href="css/agregar_editar_hab.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/agregar_editar_hab.css')}}">
</head>
<style>
table{
  border: #EDEDED 3px solid;
  border-radius: 10px;
  border-spacing: 25px 20px;
}
td, h1, th{
	font-family: 'Roboto', sans-serif;
}
</style>
<body>
    <section id="pantalla-dividida">
        <div class="izquierda"></div>
        <div class="derecha" align="middle">
            <div class="titulo">
            <h1 style="padding-top: 10%"></h1>
            </div>
            <p></p>
            <div class="contenedorTabla">
                <table align="center" style="width: 65% ">
					<tr>
                    <th colspan="4" style="font-size: 180%">Dubai Hotel and Residences</th>
                    </tr>
                    <tr>
                    <th colspan="4" style="font-size: 120%">Datos de la habitación:</th>
                    </tr>
					<tr></tr>
                    <tr>
                        <td>Piso:</td>
                        <td><input type="int" name="Piso" size="2"/></td>
                        <td>No:</td>
                        <td><input type="int" name="No" size="2"/></td>
                    </tr>
                    <tr>
                        <td colspan="2">Tipo:</td>
                        <td><input name="cbsuite" type="checkbox" />Suite</td>
                        <td><input name="cbsencilla" type="checkbox" />Sencilla</td>
                    </tr>
                    <tr>
                        <td colspan="2">No. camas:</td>
                        <td colspan="2"><input type="int" name="noCamas" size="2"/></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input name="cbcamad" type="checkbox" />Cama doble</td>
                        <td colspan="2"><input name="cbcamas" type="checkbox" />Cama sencilla</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input name="cbjacuzzi" type="checkbox" />Jacuzzi</td>
                        <td colspan="2"><input name="cbducha" type="checkbox" />Ducha</td>
                    </tr>
                    <tr>
                        <td colspan="2"><input name="cbpterm" type="checkbox" />Piso térmico</td>
                        <td colspan="2"><input name="cbwifi" type="checkbox" />Wifi</td>
                    </tr>
					<tr>
					<th colspan="4">
						<a href="#" class="boton azul">Agregar</a>
					</th>
					</tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>