<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Búsqueda Habitaciones</title>
    <!-- <link rel="stylesheet" href="css/busquedaHab.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/busquedaHab.css')}}">
</head>

<body> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<tbody>
	<tr>
      <td width="50%" align="center"><img src="/static/img/login.jpeg"
			   alt="Es hora de viajar"
			   width="650px" height="550px"/></td>
      <td width="50%">
            <form action="/action_page.php" class="form">
                <h2 class="form_title">Dubai Hotel and Residences</h2>

                <div class="form_container">
                    <h4> Tenemos las siguientes opciones para tí: </h4>

                    <!-- Yessid: Ciclo for para mostrar disponibles -->
                    {% for r in row %}

                    <div class="form_group">
                        <scroll-container>
                            <img src="/static/img/cama3.jpg" alt="Habitacion" style="width: 150px; height: 100px; float: left; padding: 5px; border-radius: 10px;">
                            <label class="form_label">Habitación {{ r["idhabitacion"] }}</label>
                            <br>
                            <a href="ver/{{ r['idhabitacion'] }}"><input id="boton" class="form_submit" value="ver"></a> 
                        </scroll-container>
                    </div>

                    {% endfor%}

                </div>
            </form>
		</td>
    </tr>
    </tbody>
</table>
</body>
</html>