<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comentarios</title>
    <!-- <link rel="stylesheet" href="css/comentarios.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/comentarios.css')}}">
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<tbody>
	<tr>
      <td width="50%" align="center"><img src="/static/img/cama.jpg"
			   alt="Es hora de viajar"
			   width="650px" height="550px" style="border-radius: 10px;"/></td>
      <td width="50%">
		<form action="reservar/comentar" class="form" method="POST">
            <h2 class="form_title">Dubai Hotel and Residences </h2>

            <h3>Habitación {{ x }}</h3> 

            {% for r in row %}

            

            <div class="form_container">

                <div class="form_group">
                    <label class="form_label">{{ r["user"] }}</label>
                    <label class="form_label">{{ r["comentario"] }}</label>

                </div>
            </div>
            {% endfor %}

            <br>
            <!-- Accion para regresar a la página anterior -->
            <input type="button" class="form_submit" width="150px" value=" Regresar " onClick="history.go(-1);">
                <!-- <a href="/reservar/comentar"><input id="boton" class="form_submit" value="Regresar" name="103></a> -->
                <!-- type="submit"-->
        </div>
    </form>
		</td>
		</tr>
	</tbody>
	</table>
</body>
</html>