<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Habitacion</title>
    <!-- <link rel="stylesheet" href="css/agregar_editar_hab.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/agregar_editar_hab.css')}}">
</head>
<style>
table{
  border: #EDEDED 3px solid;
  border-radius: 10px;
  border-spacing: 25px 20px;
}
td, h1, th{
	font-family: 'Roboto', sans-serif;
}
</style>
<body>
    <section id="pantalla-dividida">
        <div class="izquierda"></div>
        <div class="derecha" align="middle">
            <div class="titulo">
            <h1 style="padding-top: 10%"></h1>
            </div>
            <p></p>
            <form action="{{url_for('editar',idhab=idhab)}}" method="POST">
            <!-- Agudo Agregado formulario -->
            <div class="contenedorTabla">
                <table align="center" style="width: 65% ">
					<tr>
                    <th colspan="4" style="font-size: 180%">Dubai Hotel and Residences</th>
                    </tr>
                    <tr>
                    <th colspan="4" style="font-size: 120%">Datos de la habitación:{{ idhab }}</th>
                    </tr>
					<tr></tr>
                    <tr>
                        <td colspan="2">Tipo:</td>
                        <td><input name="tipohab" type="radio" value="1"/>Sencilla</td>
                        <td><input name="tipohab" type="radio"  value="2"/>Suite</td>
                    </tr>
                    <tr>
                        <td colspan="2">Ocupado:</td>
                        <td><input name="ocupado" type="radio" value="1"/>Si</td>
                        <td><input name="ocupado" type="radio"  value="0"/>No</td>
                    </tr>
                    <!-- Agudo Eliminados checkbox -->
					<tr>
					<th colspan="4">
						<a href="{{url_for('editar', idhab=idhab)}}" class="boton azul"><input type="submit" value="Modificar"></a>
					</th>
					</tr>
                </table>
            </div>
        </div>
    </section>
</body>
</html>