<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=w, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/reservar.css')}}">
    <title>Document</title>
</head>
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>   
      <tr><td colspan="2"><p style="text-align: right;vertical-align:top; margin:5px 25px;font-size:15px"><a href="/" style="text-decoration:none;">Cerrar sesión</a></p></td></tr>
      <tr>
        <td width="50%" align="center"><img src="/static/img/cama.jpg"
                 alt="Es hora de viajar"
                 width="650px" height="550px" style="border-radius: 10px;"/></td>
        <td width="50%">
          <form action="/admin/dashboard/reservas/editar/<id>" class="form" method="POST">
              <h2 class="form_title">Dubai Hotel and Residences</h2>
              <h3> Codigo de reserva: {{ idreserva }} </h3>
  
              <div class="form_container">
                  <h3> Desea eliminar la Reserva de la Habitación {{  idhab }}?</h3>

                  <a href="{{ url_for('reserva_delete', id=idreserva) }}"><input type="submit" id="submit" class="form_submit" value="Eliminar"></a>
                
              </div>
            </form>
          </td>
      </tr>
    </tbody>
  </table>
</body>
</html>