<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Reservas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/gestionarreservas.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crosso  rigin>
    <link href="https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="dash_container">
            <div class="menu_dashboard">
                <ul>
                    
                    <li><a href="/index"> Inicio </a></li>
                    
                    <li><a href="/logout" class="form_link" id="Logout">Cerrar sesión</a></li>
 
                    <script>
                        let btn = document.getElementById("Logout")
                        btn.addEventListener("click",cerrar)
                        function cerrar(){
                            alert("Usted cerró sesión")
                        }
                    </script>

                </ul>
                <!-- <input type="search" name="searchadmin" id="searchadmin" placeholder="Buscar"> -->
            </div>
            <div class="menu_dash_nombre">
                <h1>{{ nombre }}</h1>
                <P>Administrador</P>
            </div>
            <div class="menu_dashimg">
                <img src="/static/img/pexels-rodnae-productions-7821936.jpg" alt="" id="imgadmin">
            </div>
        </div>
    </header>
    <section>
        <div class="container_gestionreserva">
            <div class="fondo" >
                <div class="titulo">
                    <h1> Gestionar reservas</h1>
                </div>
                <div class="fondo_azul">
                        {% for r in row %}
                            <div class="elementos_reserva">
                                <img src="/static/img/joven-confiado_1098-20868.webp" alt="">
                                <p class="nombre">{{ r["nombre"] }}</p> <p class="codigo">Cod:{{ r["idreserva"] }}</p>

                                <p class="codigo">Ingreso:{{ r['fechaingreso'] }}</p>
                                <p class="codigo">Salida:{{ r['fechasalida'] }}</p>


                                <p class="codigo">Hab:</p>
                                <img src="/static/img/llave-de-la-habitacion.png" alt="" id="imgllave">
                                <p id="numero">{{ r["idhabitacion"] }}</p>
                        
                                <a href="{{ url_for('reserva_editar',idreserva=r['idreserva'], idhab=r['idhabitacion'],ingre=r['fechaingreso'],sali=r['fechasalida']) }}"><input type="submit" value="Editar" id="Editar"></a> <!--envio por url_for la variable de idreserva-->
                                
                                <a href="{{ url_for('reserva_delete',id=r['idreserva']) }}"><input type="submit" value="Eliminar" id="Eliminar"  ></a> <!--,idhab=r['idhabitacion'])-->
                            </div>
                            <div class="comentarios">
                                <ul>
                                    <li><p>{{ r["comentario"] }}</p></li>
                                </ul>
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>
</html>