<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestionar Reservas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/gestionarreservas.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crosso  rigin>
    <link href="https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap" rel="stylesheet"> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <div class="dash_container">
            <div class="menu_dashboard">
                <ul>
                    <li><a href="/"> Inicio</a></li>
                    <li><a href="/">Cerrar sesion</a></li> 
                </ul>
                <input type="search" name="searchadmin" id="searchadmin" placeholder="Buscar">
            </div>
            <div class="menu_dash_nombre">
                <h1>Yesid Rios</h1>
                <P>Administrador</P>
            </div>
            <div class="menu_dashimg">
                <img src="/static/img/pexels-rodnae-productions-7821936.jpg" alt="" id="imgadmin">
            </div>
        </div>
    </header>
    <section>
        <div class="container_gestionreserva">
            <div class="fondo">
                <div class="titulo">
                    <h1> Gestionar reservas</h1>
                </div>
                <div class="fondo_azul">
                    <div class="elementos_reserva">
                        <img src="/static/img/joven-confiado_1098-20868.webp" alt="">
                        <p class="nombre">Carlos andres ramirez villanueva</p> <p class="codigo">Código:12</p><p class="codigo">Habitación:</p>
                        <img src="/static/img/llave-de-la-habitacion.png" alt="" id="imgllave">
                        <p id="numero">305</p>
                        <a href="/admin/dashboard/reservas/editar"><input type="button" value="Editar" id="Editar"></a><a href="/admin/dashboard/reservas/delete"><input type="button" value="Eliminar" id="Eliminar"></a>
                    </div>
                    <div class="comentarios">
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, corporis quisquam aut quibusdam magni enim. Repellendus doloribus suscipit saepe omnis? Maiores, deleniti. Eius provident deleniti, sint corrupti quia accusantium. Repellat magnam doloremque laudantium quo recusandae omnis fuga aliquam dolorum iure impedit. Exercitationem nemo dolores laudantium numquam necessitatibus, ea animi? Rem laboriosam ex animi quisquam placeat nostrum, molestias, expedita dolores reprehenderit natus vitae quasi perferendis corrupti? Vitae ipsum quo ea esse! Voluptate enim magni earum facere est dolorem ex perferendis, maiores, dolor quasi voluptatem id perspiciatis quis deserunt aliquam illo? Ipsa eveniet necessitatibus perferendis culpa voluptate atque incidunt commodi harum ducimus.</p></li>
                        </ul>
                    </div>
                    <div class="elementos_reserva">
                        <img src="/static/img/joven-confiado_1098-20868.webp" alt="">
                        <p class="nombre">Carlos andres ramirez villanueva</p> <p class="codigo">Código:50</p><p class="codigo">Habitación:</p>
                        <img src="/static/img/llave-de-la-habitacion.png" alt="" id="imgllave">
                        <p id="numero">405</p>
                        <a href="/admin/dashboard/reservas/editar"><input type="button" value="Editar" id="Editar"></a> <a href="/admin/dashboard/reservas/delete"><input type="button" value="Eliminar" id="Eliminar"></a>
                    </div>
                    <div class="comentarios">
                        <ul>
                            <li><p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quam, corporis quisquam aut quibusdam magni enim. Repellendus doloribus suscipit saepe omnis? Maiores, deleniti. Eius provident deleniti, sint corrupti quia accusantium. Repellat magnam doloremque laudantium quo recusandae omnis fuga aliquam dolorum iure impedit. Exercitationem nemo dolores laudantium numquam necessitatibus, ea animi? Rem laboriosam ex animi quisquam placeat nostrum, molestias, expedita dolores reprehenderit natus vitae quasi perferendis corrupti? Vitae ipsum quo ea esse! Voluptate enim magni earum facere est dolorem ex perferendis, maiores, dolor quasi voluptatem id perspiciatis quis deserunt aliquam illo? Ipsa eveniet necessitatibus perferendis culpa voluptate atque incidunt commodi harum ducimus.</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>