<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado Reservas</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/listaReserva.css')}}">
</head>

<body> 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<tbody>
	<tr>
      <td width="50%" align="center"><img src="/static/img/login.jpeg"
			   alt="Es hora de viajar"
			   width="650px" height="550px" /></td>
      <td width="50%">
            <form action="/reservar/crear/comentarios/<numHab>" class="form" method="POST">
                <h2 class="form_title">Dubai Hotel and Residences</h2>

                <div class="form_container">
                    <h4>Bienvenido {{ nombre }} este es tu historial de reservas</h4>

                    {% for r in row %}

                    <div class="form_group">
                        <img src="/static/img/cama.jpg" alt="Habitacion" style="width: 150px; height: 100px; float: left; padding: 5px;">
                        <label> Ingreso: {{ r["fechaingreso"] }} </label>
						<br>
                        <label> Salida: {{ r["fechasalida"] }} </label>
                        <br>
                        <label> Habitación: {{ r["idhabitacion"] }} </label>
                        <br>
                        <a href="{{ url_for('comentarios',numHab=r['idhabitacion']) }}"><input type="button" class="form_submit" width="150px" value=" Calificar "></a>
                        <br> 
                    </div>
                    {% endfor%}

                    <div style="text-align: center;">
                        <input type="button" class="form_submit" width="150px" value=" Regresar " onClick="history.go(-1);">
                    </div>
                </div>
            </form>
		</td>
    </tr>
    </tbody>
</table>
</body>
</html>