<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- <link rel="stylesheet" href="css/login.css"> -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
    
</head>

<body> 
<!-- <body background="/img/login.jpeg"> --> <!--Se agrega el backround por la imagen de fondo-->

    <!-- <form action="/index/logueado" method="POST" class="form"> -->
        <form action="/login" class="form" method="POST">
        

        <h2 class="form_title">Dubai Hotel and Residences</h2>
        <!-- <p class="form_paragraph">¿Aun no tienes cuenta? <a href="/new_user.html" class="form_link">Registrese aqui</a></p> -->
        <p class="form_paragraph">¿Aun no tienes cuenta? <a href="/register" class="form_link">Registrese aqui</a></p>

        <div class="form_container">
             <div class="form_group">
                <input type="text" name="user" id="user" class="form_input" placeholder=" ">
                <label for="user" class="form_label">Nombre de usuario:</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <!-- <input type="password" id="password" class="form_input" placeholder=" " name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Debe contener al menos 8 carácteres, entre ellos una mayúscula, una minúscula y un carácter especial" required> -->
                <input type="password" id="password" name="psw" class="form_input" placeholder=" ">
                <label for="password" class="form_label">Contraseña:</label>
                <span class="form_line"></span>
            </div>

            <div class="show_pass">
                <input type="checkbox" onclick="myFunction()">
                <a> Mostrar Contraseña</a>

                <script> //Invocando java Script
                    function myFunction() {
                      var x = document.getElementById("password");
                      if (x.type === "password") {
                        x.type = "text";
                      } else {
                        x.type = "password";
                      }
                    }
                </script>
            </div>

            <ul><input type="submit" id="boton" class="form_submit" value="Iniciar Sesion"></ul>
            <!-- <a href="/index/logueado"><input type="submit" id="boton" class="form_submit" value="Entrar"></a>  -->
        </div>
    </form>
</body>
</html>