<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/new_user.css')}}">
</head>
<body background="/img/login.jpeg"> 
<!-- <body background="/img/login.jpeg"> --> <!--Se agrega el backround por la imagen de fondo-->

    <form action="/register" class="form" method ='POST'>

        <h2 class="form_title">Dubai Hotel and Residences</h2>
        <!-- <p class="form_paragraph">¿Aun no tienes cuenta? <a href="#" class="form_link">Registrese aqui</a></p> -->

        <div class="form_container">
            <div class="form_group">
                <input type="text" id="name" name="nombre" class="form_input" placeholder=" ">
                <label for="user" class="form_label">Nombre:</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="user" name="user" class="form_input" placeholder=" ">
                <label for="user" class="form_label">Usuario:</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="text" id="email" name="email" class="form_input" placeholder=" ">
                <label for="user" class="form_label">Correo electrónico:</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="password" id="password" name="pass1" class="form_input" placeholder=" ">
                <label for="password" class="form_label">Contraseña:</label>
                <span class="form_line"></span>
            </div>

            <div class="form_group">
                <input type="password" id="password1" name="pass2" class="form_input" placeholder=" ">
                <label for="password" class="form_label">Repetir contraseña:</label>
                <span class="form_line"></span>            
            </div>

            <!-- <a href="login"><input type="submit" class="form_submit" value="Continuar" style="width:50%"></a> -->
            <ul> <input class="form_submit" type="submit" value="Continuar" style="width:50%"></ul>
        </div>


    </form>
</body>
</html>