<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservar</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/reservar.css')}}">
</head>

<body> 
    
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  	<tbody>   
    <tr><td colspan="2"><p style="text-align: right;vertical-align:top; margin:5px 25px;font-size:15px"><a href="/" style="text-decoration:none;">Cerrar sesión</a></p></td></tr>
	<tr>
        <td width="50%" align="center"><img src="/static/img/cama.jpg"
			   alt="Es hora de viajar"
			   width="650px" height="550px" style="border-radius: 10px;"/>
        </td>
        <td width="50%">
            <!-- <form action="/reservar/listar" class="form" method="POST"> -->
                <form action="/reservar/crear" class="form" method="POST">
           
                <h2 class="form_title">Dubai Hotel and Residences</h2>
                <!-- {% for r in row %} -->
                <h3> Habitación {{ ['idhabitacion'] }} </h3>
                <!-- {% endfor%} -->
                <!-- <p class="form_paragraph">¿Aun no tienes cuenta? <a href="/usuario_nuevo.html" class="form_link">Registrese aqui</a></p> -->
    
                <div class="form_container">
                    <h3> Datos de la Reserva: </h3>
    
                    <div class="form_group">
                        <label for="fecha" class="form_label">Fecha ingreso:</label>
                    </div>
                
                    <div class="form_group">
                        <input type="date" id="fechaingreso" name="fechaingreso" class="form_input" placeholder=" ">
                    </div>
    
                    <div class="form_group">
                        <label for="fecha" class="form_label">Fecha salida:</label>
                    </div>
                    <div class="form_group">
                        <input type="date" id="fechasalida" name="fechasalida" class="form_input" placeholder=" ">
                    </div>
                    
                    <!-- <input type="submit" id="boton" class="form_submit" value="Continuar">  -->
                    <ul> <input class="form_submit" type="submit" value="Continuar" style="width:50%"></ul>
                </div>
            </form>
        </td>
    </tr>
  </tbody>
</table>
</body>
</html>